@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  
    rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}

#container{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
#calculator{
    width: 350px;
    height: 550px;
    margin: 0 auto;
    border-radius: 20px;
}

#result{
    height: 130px;
    background-color: rgba(0,94,120,1);
    border-radius: 25px;
    background: linear-gradient(145deg, #00556c, #006580);
    box-shadow:  14px 14px 28px #005268,
    -14px -14px 28px #006a88;
    margin-bottom: 20px;
    color: white;
}
#history-value{
    color: beige;
}
#keyword{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#keyword .zero-btn{
    width: 65%;
    border-radius: 25px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    color: cadetblue;
}
#output{
    text-align: right;
    height: 60px;
    padding: 10px 20px;
    font-size: 30px;
}
#history-value, #output-value{
    margin: 0;
}
.operator, .number, .empty{
    padding: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(145deg, #00556c, #006580);
    box-shadow:  14px 14px 28px #005268,
    -14px -14px 28px #006a88;
    border: none;
    outline: none;
    margin: 5px;
    font-size: 20px;
}
.number, .operator{
  cursor: pointer;
}

#backspace,
#keyword .evale-btn,
#clear{

    font-weight: bold;
}

#backspace:hover,
#keyword .evale-btn:hover,
#clear:hover{
    color: rgb(0, 0, 0);
    background: beige;
    border: 2px solid black;
}
.operator:hover, .number:hover, .empty:hover{
    border: 2px solid white;
}

